/*
p {
    text-align: center;
    color: red;
}

p.center {
    text-align: right;
    color: blue;
}

#center {
    text-align: left;
    color: green;
}
*/
h1, p {
    color: red;
    text-align: center;
    font-size: 30px;
}
p b {
    color: blue;
}
